{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw | ProBank</title>
    <link rel="stylesheet" href="{% static 'css/withdrawl.css' %}">
    <script src="../static/javascript/withdraw.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <main class="form-container">
        <h1>Withdraw Money</h1>
        <form action="" method="POST">
            {% csrf_token %}

            <label for="account_number">Account Number</label>
            <input type="number" name="account_number" id="account_number" required>

            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" required>

            <label for="pin">Pin</label>
            <input type="password" name="pin" id="pin" required>

            <button type="submit">Withdraw</button>
        </form>
    </main>
    
</body>
</html>
